name = "hashi"
compatibility_date = "2025-08-03"
main = "./src/index.tsx"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "DB"
database_id = "172ef942-d1ff-4f38-9394-17203f2fdd61"
